@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway'), url('../font/Raleway-Regular.ttf') format('truetype');
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;

  color: rgb(0, 0, 0);

  /*background-image: url('../img/bg_plus.png');*/
  background-repeat: repeat;
  background-color: rgb(245, 245, 245);
  background-attachment: fixed;
}

h1 {
  font-weight: 800;
}

header, section, footer {
  margin: 50px auto 50px auto;
  width: 60%;
}

footer {
  font-size: 0.8em;
}

.content-header {
  border-radius: 5px;
  box-shadow: 0px 0px 3px -1px #6D6D6D;
}

.detail-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.img-circle {
  display: block;
  box-shadow: 0px 0px 3px -1px #6D6D6D;
  border-radius: 5%;

  flex-grow: 0;
}

.personal-info > h1, .personal-info > h2 {
  text-align: right;
}

.header-style {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 25px;

  background-color: rgb(208, 220, 228);

  font-weight: 800;
  font-size: 2em;

  text-align: center;
}

.content-normal {

}
